extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.edit_video(video.id))
                    button Edit Video
            h5.video__title=video.title
            p.video__description=video.description
            if video.views === 1
                span.video__views 1 view
            else 
                span.video__views #{video.views} views
            .video__author
                |Upload by 
                a(href=routes.user_detail(video.creator.id))=video.creator.name
        .video__comments
            if video.comments.length === 1
                span.video__comments-number 
                    span#jsCommentNumber 1 
                    |  comment
            else
                span.video__comments-number 
                    span#jsCommentNumber #{video.comments.length} 
                    |  comments
            form.add__comment#jsAddComment
                if loggedUser
                    input(type="text", placeholder="Add a comment", name="comment")
                else
                    input(type="text", placeholder="you need to log in" ,disabled)
        .comment-list
            ul.video__comments-list#jsCommentList
                        each comment in video.comments.reverse()
                            li.comments
                                .comments__column
                                    img(src="", alt="test")
                                    span ..
                                .comments__column
                                    .comments__text-box 
                                        span=comment.text
                                    .comments__icon
                                        a(href=routes.editComment)
                                            i.fas.fa-edit
                                        a(href=routes.deleteComment)
                                            i.fas.fa-trash-alt